<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>멤버 정보</title>
</head>
<body>
	<h1>멤버 정보 보기</h1>
	<h3>방법 1</h3>
	<ul>
		<li th:text="${mem}">멤버 객체</li>
		<li th:text="${mem.memberName}">멤버 이름</li>
		<li th:text="${mem.memberPhone}">멤버 번호</li>
		<li th:text="${mem.memberAge}">멤버 나이</li>
	</ul>
	<hr>
	<h3>방법 2</h3>
	<ul th:object="${mem}">
		<li th:text="*{memberName}">멤버 이름</li>
		<li th:text="*{memberPhone}">멤버 번호</li>
		<li th:text="*{memberAge}">멤버 나이</li>
	</ul>
	<hr>
	<h3>방법 3</h3>
	<table border="1">
		<thead>
			<tr>
				<th>이름</th>
				<th>번호</th>
				<th>나이</th>
			</tr>
		</thead>
		<tbody>
			<!-- Controller 에서 가져온 memList 를 전부 가져온 모음집이다. -->
			<!-- memList 에서 값을 꺼내어, mem 변수에 하나씩 담아준 것이다. -->
			<!-- th:object="{mem}" 과 th:text="*" 형식을 사용하여, 
			     각 th:text 값 앞에 mem. 을 붙인 것과 동일한 것이다. -->
			     <!-- 따라서, 만약 th:text 값들 앞에 mem. 을 붙여주게 되면,
			          결과적으로 mem.mem. 을 붙여준 것과 같은 것이기 때문에
			          오류가 발생한다. -->
			<tr th:each="mem:${memList}" th:object="${mem}">
				<td th:text="*{memberName}">멤버 이름</td>
				<td th:text="*{memberPhone}">멤버 번호</td>
				<td th:text="*{memberAge}">멤버 나이</td>
			</tr>
		</tbody>
	</table>
</body>
</html>