<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>서버로 파라미터 제출하기</title>
</head>
<body>
	<h1>서버로 파라미터 제출하기</h1>
	<h3>1. HttpServletRequest.getParameter("key") 이용하기</h3>
	
	<form action="/param/test1" method="POST">
		이름: <input type="text" name="inputName"><br>
		나이: <input type="number" name="inputAge"><br>
		주소: <input type="text" name="inputAddress"><br>
		
		<!-- button 태그의 타입 기본값은 submit 이다. -->
		<button>제출하기</button>
	</form>
	
	<h3>2. @RequestParam 어노테이션을 이용하여, 낱개 값 가져오기
		▶ ParamTwoController Class 생성 후 작성</h3>
	<form action="/param2/test2" method="post">
		과자이름: <input type="text" name="snackName"> <br>
		제조회사: <input type="text" name="snackCompany"> <br>
		판매가격: <input type="number" name="snackPrice"> <br>
		선호순위: <input type="text" name="snackLike"> <br>
		<button>제출하기</button>
	</form>
	
	<h3>3. @RequestParam 어노테이션을 이용하여, 다수 값 가져오기
	    ▶ ParamTwoController Class 에
	    좋아하는 과자: String[]
	    선호하는 과자: List<String>
	</h3>
	<form action="/param2/test3" method="post">
		좋아하는 과자:
			맛동산 <input type="checkbox" name="likeSnack" value="matdongsan">
			베베 <input type="checkbox" name="likeSnack" value="bebe">
			썬칩 <input type="checkbox" name="likeSnack" value="sunchip">
			
			<br><br>
			
		선호하는 회사:
			오리온 <input type="checkbox" name="likeCompany" value="olion">
			해태 <input type="checkbox" name="likeCompany" value="haetae">
			<button>제출하기</button>
	</form>
</body>
</html>